page-add-new-recipe {
    .text-box {
        user-select: auto !important;
        -webkit-user-select: auto !important;
    }
    .textbox-background {
        background-color: rgba(white, 0.5);
    }
}